body {
    padding: 0px;
    margin:
}

.box {
    border: 2px solid;
    flex: 1 1 auto;
}

.grid {
    text-align: center;
    display:flex;
    flex-direction: column;
    position:relative;
    height: 960px;
   

}

.container {
    display: flex;
    justify-content: space-around;
    
}

.active {
    background-color: rgba(255, 0, 0, 0.267);
}

.row {
    width: 960px;
    flex: 1 1 auto;

}