.box {
    /* border: 2px solid; */
    flex: 1 1 auto;
}

.grid {
    text-align: center;
    display:flex;
    flex-direction: column;
    position:relative;
    height: 960px;
    border: 10px solid pink;
    border-radius: 10px;
   

}

.container {
    display: flex;
    justify-content: space-around;
    
}

.row {
    width: 960px;
    flex: 1 1 auto;
}

.btn {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    flex: 0 1 200px;
    height: 66px;;
    border-radius: 12px;
    background: none;
    background-color: rgba(255, 192, 203, 0.61);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}